/* General styling*/
.index-home{
    padding-left: 16%;
    padding-right: 15%;
}
body{
  padding-top: 4rem;
}
/* css styling taken from week 2 tutorial from Paul*/
img {
  margin-left: auto;
  margin-right: auto;
  display: block;
	height: auto;
	max-width: 100%;

}
figure {
	padding: 0.25rem 0.5rem;
    margin: 20px;
}

figure figcaption {
    font-family: futura-pt, sans-serif;
    font-size: 1rem;
    text-align: center;
}


h1, h2, h3, p, code {
  text-align: center;
}
ul li, ol li{
  text-align: left;
  font-family: futura-pt, sans-serif;
}
h1{
font-family: filson-pro, sans-serif;
font-size: 4rem;
}
h2{
 font-family: filson-pro, sans-serif;
font-size: 3rem;
}
h3{
 font-family: filson-pro, sans-serif;
font-size: 2rem;
}
p, code, label{
  font-family: futura-pt, sans-serif;
}
p{
  font-size: 1em;
  padding-left: 2rem;
  padding-right: 2rem;
}
/*header*/
 header{
  position: fixed;
   top:0;
   left: 0;
    width: 100%;
    background-color:#D1E7F1;
}

header .header-brand{
    display: block;
    margin: 0 auto;
    padding: 10px 50%;
}
 header .header-brand img{
   width: 30px;
   height: 30px;

   }

header nav ul {
    display: block;
   margin: 0 auto;
   width: fit-content;
}
header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}
header nav ul li  a{
     font-family: futura-pt, sans-serif;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}

header .header-projects {
    display: none;
}

nav ul ul {
    display: none;
}
@media only screen  and (min-width: 1000px){

header .header-brand{

    margin: 0 auto;
    padding: 10px 5%;
}
header .header-brand img{


   width: 50px;
   height: 50px;
    float: left;
   }

   header nav ul {
   margin: 0px 0px 0px 0px;
   float: right;
}

header nav ul li  a{
    font-family: futura-pt, sans-serif;
    font-size: 16px;
    color: black;
    line-height: 60px;
 }

 header nav ul li  a:hover{

      color: gray;
    box-shadow: 0 0 5px gray;

    }
header .header-projects {
    display: block;
  font-family: futura-pt, sans-serif;
    font-size: 16px;
    color: #111;
    line-height: 38px;
    border: 1px solid #111;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0 20px;
}


}
/* Reviews */
.box-center, .review img{
  display: inline;
  position:static;
  width: 5%;
border: none;
}
/* About */
.about img{
  width: 100%;
}

/* Forms */
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 20px;
  margin-right: 5rem;
  margin-left: 5rem;
}
textarea, select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 20px;
  margin-right: 5rem;
  margin-left: 5rem;
  font-family:'Roboto',sans-serif;
}
input[type=submit] {
  width: 50%;
  font-weight:300;
  background-color:  #628F43;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 2em;
  cursor: pointer;
}
form {
  border-radius: 5px;
  background-color: #D1E7F1;
  padding: 20px;
}
form img{
  width: 400px;
}

/* button */
.button3{
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:  #628F43;
text-align:center;
transition: all 0.2s;
}
.button3:hover{
background-color:#F0F9FC;
color: black;
}
@media all and (max-width:30em){
 .button3{
  display:block;
  margin:0.2em auto;
 }
}


/*Login*/
.login{
 background-color: #D1E7F1

}

/*Payment*/
.payment{
 background-color: #D1E7F1

}



/*dropdown button*/
.dropdown-button {
  display: inline-block;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  padding: 0.55em 0.8em;
  color: #f9f9fa;
  background-color: #818476;
  border-width: 0.01em;
  text-decoration: none;
}

.dropdown-picker {
  display: block;
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  padding: 0.55em 0.8em;
  text-align: left;
  color: #202021;
  background-color: #ffffff;
  border-color: rgba(35, 7, 7, 0.16);
  border-width: 0.05em;
  border-style: solid;
  text-decoration: none;
}

.dropdown-quantity {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  padding: 0.55em 0.8em;
  text-align: center;
  color: #202021;
  background-color: #ffffff;
  border-color: rgba(35, 7, 7, 0.16);
  border-width: 0.01em;
  text-decoration: none;
}

.dropdown {
  display: block;
  position: relative;
  padding-bottom: 1em;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9fa;
  text-decoration: none;
  width: 100%;
}

.dropdown-content a {
  font-family: futura-pt, sans-serif;
  color: #202021;
  padding: 0.5em 0.75em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown:hover .dropdown-button {
  background-color: #e5e5e5;
}
